/* This is when opening the modal how the main page will appear in the background */
.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* Original modal mains */
/* .modal-main {
  position: fixed;
  background: white;
  width: 60%;
  height: 70%;
  top: 50%;
  left: 50%;
  overflow: scroll;
  transform: translate(-50%, -50%);
  padding: 1em;
}

.modal-main button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 0em;
  right: 0.2em;
} */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d7d2d2;
  border-radius: 5px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */


.modal-main {
  position: fixed;
  background: rgb(255, 255, 255);
  border-radius: 14px;
  /* border-top-left-radius: 14px;
  border-top-right-radius: 14px !important;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px !important; */
  width: 60%;
  height: 70%;
  top: 50%;
  left: 50%;
  overflow: scroll;
  transform: translate(-50%, -50%);
  padding: 1em;
}

.btn {
  border: none;
  color: rgb(234, 234, 234);
  padding: .50rem;
  border-radius: 5px;
  /* cursor: pointer; */
  box-shadow: 0px 5px 5px #ccc;
  background-color: rgb(34, 149, 113);
}

.modal-main button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 0em;
  right: 0.2em;
}

/* New cards function */
.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}